body{
	margin : 0px;
	padding: 0px;
  line-height: 1.5;
  font-family: sans-serif;
  font-size: 18px;
  background-color: rgb(246, 217, 158);
}

form{
  width: 50%;
  margin: 50px auto; /* centraliza horizontalmente e adiciona margem superior */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: rgb(249, 186, 61);
}
