body{
    margin: 0px;
    padding: 0px;

}

#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: blueviolet;
    background-color: rgb(226, 135, 15);
    padding: 30px;
}

.titulo2{
    color: aqua;
}