body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}

#banner{
    width: 100%;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: rgba(126, 10, 234, 0.429);
    background-color: rgb(226, 135, 15);
    padding: 30px;
    margin: 0px;
}

.titulo2{
    color: #0800ffb4;

}