body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;

}

#banner{
    width: 100%;
}

header{
    text-align: center;
}

.titulo-principal{
    text-transform: uppercase;
    text-align: center;
    color: rgba(126, 10, 234, 0.429);
    background-color: rgb(226, 135, 15);
    padding: 30px;
    margin: 0px;
}

.titulo2{
    color: #0800ffb4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.principal{
    background-color: #05ffcd;
    padding: 30px;
    margin: 0px;
}


.beneficios{
    background-color: chocolate;
    padding: 30px;
    margin: 0px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 22px;
    line-height: 1.5;
}

.itens{
    font-style: italic;
    font-size: 20px;
    line-height: 1.5;
}

.imagembeneficios{
    width: 50%;
}

/* MENU  */
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav ul li{
    display: inline;
    margin: 0 0 0 10px;
}

nav a{
    text-transform: uppercase;
    color: rgb(245, 24, 24);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: aquamarine;
    text-decoration: underline;
}